.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    height: 35px;
    background: rgb(44, 45, 46);
    color:pink;
    text-align: center;
    color: antiquewhite;  
}

.categories {
    display: flex;
    flex-direction: row;
}

.category {
    margin-left: 25px;
}

.category:hover {
    cursor: pointer;
    color: pink;
}

.search {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
}

.filterIcon {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}
